
<ul class="list-group">
    <li class="list-group-item list-group-item-info"
        (click)="AddMarker()">
        Add
    </li>

    <li *ngFor="let marker of markers; let i = index" class="list-group-item"
        (click)="GoToMarker(marker.marker)"
        [ngStyle]="{'background-color': marker.color}">
        Marker {{i}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="DeleteMarker(i)"></button>
    </li>
</ul>

<div #map class="map-container"></div>
